[core]
	fileMode = false
	editor = nvim
  pager = delta
	autocrlf = input
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[user]
	name = Мансур Лутфуллин
	email = yaponomat@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true
