# open ~/.zshrc in using the default editor specified in $EDITOR
alias ec="$EDITOR $HOME/.zshrc"
alias ea="$EDITOR $HOME/.aliases"

# source ~/.zshrc
alias sc="source $HOME/.zshrc"

# navigation aliases
alias tmp='cd ~/data/temp'

# Server
alias snginx="sudo service nginx start"
alias sphp="sudo service php7.4-fpm start && sudo service php8.0-fpm start && sudo service php8.1-fpm start"
alias smysql="sudo service mysql start"
alias smhog="MailHog -ui-bind-addr 127.0.0.1:8085 -smtp-bind-addr 127.0.0.1:1025"

# Files list
alias l="exa --icons --group-directories-first -lFh"
alias la="exa --icons --group-directories-first -laFh"
alias ldot="exa --icons --group-directories-first -ld .*"
alias ll="exa --icons --group-directories-first -l"
alias lr="exa --icons --group-directories-first -tRFh"
alias ls="exa --icons --group-directories-first --color=always"
alias lsa="exa --icons --group-directories-first -lah"

alias lg="lazygit"
alias vim="nvim"
alias vi="neovide.exe --wsl"
alias grep="grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias rg="rg -i -p"
alias rga="rg -Lp --no-ignore --hidden"
alias art="php artisan"
alias d="dirs -v | head -10" # Directory history
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'

alias grp='git remote prune origin'
alias mail="sendria"
alias sail='./vendor/bin/sail'
alias artdb='art migrate:reset && art migrate && art db:seed && art ide-helper:model -RW'
alias rcp='rsync -rzv'
alias top='ytop'
alias h='tldr'
alias cd='z'

# Docker
alias dc="docker-compose"

# Bat
if [ "$(command -v batcat)" ]; then
  unalias -m 'cat'
  unalias -m 'less'
  alias cat='batcat -n --theme="OneHalfDark"'
  alias less='batcat --theme="OneHalfDark"'
fi

if [ "$(command -v bat)" ]; then
  unalias -m 'cat'
  unalias -m 'less'
  alias cat='bat -pp --theme="OneHalfDark"'
  alias less='bat --theme="OneHalfDark"'
fi
